body {
    height: 100vh;
    color: white;
    background-color: black;
    background-image: linear-gradient(45deg, #f0b84857, black);
    font-family: Arial, Helvetica, sans-serif;
    background-position: center top;
    background-size: 100% 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

.conteiner {
    padding: 0px 50px;
}

nav a:hover {
    color: rgb(240, 161, 71);
}

.quadrado {
    border: 20px solid rgb(43, 43, 43);
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
    max-width: 200px;
}

.caixa {
    position: relative;
    text-align: center;
    display: flex;
    padding: 10px;
}

.caixa img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30%;
    left: 70%;
}

.quadrado2 {
    border: 20px solid rgb(43, 43, 43);
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
    max-width: 470px;
    position: absolute;
    top: 0%;
    left: 280px;
}

main {
    position: relative;
    margin: auto;
    max-width: 900px;
    justify-items: center;
}

header {
    color: rgb(240, 161, 71);
    margin: auto;
    max-width: 900px;
}

.quadrado3 {
    border: 20px solid rgb(43, 43, 43);
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
    max-width: 470px;
    position: absolute;
    top: 250px;
    left: 283px;
}

.quadrado3 img {
    height: 262px;
    width: 465px;
}

